* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

/* 
 - Root CSS Variables 
 */

:root {
  /* --primary-color: #6c63ff; */
  --primary-color: #4f46e5;
  --secondary-color: #4b3f70;
  --tertiary-color: #dfdfdf;
}

/* 
 - Override Bootstrap CSS Variables
 */

.primary {
  color: #0cb9b9;
}
.secondary {
  color: #dddddd;
}
.tertiary {
  color: #a6a6a6;
}

/* 
 -Removing outline on focus 
*/
.btn {
  font-size: 1.03rem;
  padding: 0.45rem 0;
  outline: none;
  border: 1px solid var(--primary--color) !important;
  border-radius: 6px;
}
.btn:focus,
.btn:active,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-control {
  border: 2px solid var(--tertiary-color) !important;
}
.form-control:focus,
.form-control:active,
.form-control.active:focus {
  outline: none;
  box-shadow: none !important;
  border: 2px solid var(--primary-color) !important;
}
/* .form-control {
  border-radius: 0px !important;
}
.form-check-input[type="checkbox"] {
  border-radius: 0px !important;
} */
.form-check-input:focus,
.form-check-input:active,
.form-check-input.active:focus {
  outline: none;
  box-shadow: none !important;
  border: 2px solid var(--primary-color) !important;
}

/* 
 -Customize Bootstrap NavPills (Tabs) 
*/

.nav-pills {
  border: 2px solid var(--primary-color);
}
.nav-pills .nav-link {
  border-radius: 30px !important;
  width: auto;
  color: var(--primary-color);
  background: transparent;
}
.nav-pills .nav-link:hover {
  color: var(--primary-color);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--secondary-color);
  background: var(--primary-color) !important;
  border-bottom: none;
}

/* 
 -Custom Scrollbar Section Start Here 
*/

/*   
 -width 
*/

::-webkit-scrollbar {
  width: 8px;
}

/* 
 -Scrollbar Track 
*/

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* 
 -Scrollbar Handle 
*/

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
}

/* 
 -Handle on hover 
*/

::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}

/* 
 -Global Button 
*/

.btn {
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
/* .btn:active:focus,
.btn:focus,
.btn:active {
  outline: none;
  border-radius: 20px;
} */
/* .bg_btn {
  width: 200px;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--tertiary);
  border-radius: 20px;
  transition: 0.68s ease-out;
}
.bg_btn:hover {
  background: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);
}
.border_btn {
  width: 200px;
  background: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  border-radius: 20px;
  transition: 0.68s ease-out;
}
.border_btn:hover {
  background: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--tertiary);
} */
