* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

/* 
 - =====================================X=====================================
*/

/* 
 - Root CSS Variables 
*/

:root {
  --black-color: #2a2a2a;
  --primary-color: #4f46e5;
  --secondary-color: #aeaeae;
  --tertiary-color: #dfdfdf;
}

/* 
 - =====================================X=====================================
*/

/* 
 -Customize pseudo elements
*/
::placeholder {
  color: var(--secondary-color) !important;
  font-weight: 400;
}

/* 
 - =====================================X=====================================
*/

/* 
 - Override Bootstrap CSS Variables
*/
.text-black {
  color: var(--black-color) !important;
}
body .text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-tertiary {
  color: var(--tertiary-color) !important;
}

.text-sm {
  font-size: 0.65rem !important;
}

.btn-primary {
  background: var(--primary-color) !important;
}

/* 
 - =====================================X=====================================
*/

/* 
 -Removing outline on focus 
*/
.btn {
  font-size: 1.03rem;
  padding: 0.55rem 0 !important;
  outline: none;
  border: 1px solid var(--primary--color) !important;
  border-radius: 6px;
}

.btn:focus,
.btn:active,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  border: 2px solid var(--tertiary-color) !important;
}

.form-control:focus,
.form-control:active,
.form-control.active:focus {
  outline: none;
  box-shadow: none !important;
  border: 2px solid var(--primary-color) !important;
}

.form-check-input:focus,
.form-check-input:active,
.form-check-input.active:focus {
  outline: none;
  box-shadow: none !important;
  border: 2px solid var(--primary-color) !important;
}

/* 
 - =====================================X=====================================
*/

/* 
 -Customize Bootstrap NavPills (Tabs) 
*/

.nav-pills {
  border: 2px solid var(--primary-color);
}
.nav-pills .nav-link {
  border-radius: 30px !important;
  width: auto;
  color: var(--primary-color);
  background: transparent;
}
.nav-pills .nav-link:hover {
  color: var(--primary-color);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--secondary-color);
  background: var(--primary-color) !important;
  border-bottom: none;
}

/* 
 - =====================================X=====================================
*/

/* 
 -Custom Scrollbar Section Start Here 
*/

/*   
 -width of the scrollbar
*/

::-webkit-scrollbar {
  width: 8px;
}

/* 
 -Scrollbar Track of the scrollbar
*/

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* 
 -Scrollbar Handle of the scrollbar
*/

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
}

/* 
 -Handle on hover of the scrollbar
*/

::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}
